@font-face {
    font-family: myFirstFont;
    src: url(Archivo2.ttf);
}

h1 a {
    color: #422BBB;
    font-family: myFirstFont, sans-serif;
}

body {
}

.page-header {
    background-color: #1081CB;
    margin-top: 0;
    padding: 1em 1em 1em 1em
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: xxx-large;
    text-decoration: none;
}

.content {
    width: 80%;
}


h1, h2, h3, h4 {
    font-family: myFirstFont, cursive;
}

.date {
    color: #828282;
    margin: 0;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:visited {
    color: #FFFFFF;
    float: left;
    font-size: xx-large;
    margin-left: 9.5em;
    margin-top: -1.7em;
}

.post {
    margin-bottom: 4em;
}

.post h1 {
    margin-top: -0.3em;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

footer {
    margin-top: 0;
    padding: 0.6em;
    width: 100%;
    background-color: #209CEE;
    color: white;
    text-align: center;
}

